*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsla(273, 61%, 51%, 0.863);
    font-family:'Kumbh Sans', sans-serif;;
}
main{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr 1fr);
    grid-gap: -2px;
    /* justify-content: center; */
    margin: 50px auto;
    width: 70rem;
    height: 600px;
    /* border: 4px solid black; */
    border-radius: 10px;
}
.images{
    margin-top: 70px;
    background-color: transparent;
    /* padding-right: 10px;  */
}
.desktop-img{
     background-color: transparent;
width: 550px;
position: relative;
margin-left: -5rem;
/* border: 2px solid rgb(22, 233, 22); */
}
.desktop-box{
    background-color: transparent;
    width: 12rem;
    height: 12rem;
    position: relative;
    right: 6em;
    bottom: 16em;
   
}
/* form {
    background-color: white;
    box-sizing: content-box;
  } */
  
  form  * {
    background-color: white;
  }
  .accordion{
    max-width: 530px;
    width: 100%;
    background: #FFF;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow:  0 0 4px rgba(0,0,0,0.2);
}
.accordion .accordion-content{
    margin: 10px 0;
    border-radius: 4px;
    background: #FFF7F0;
    border: 1px solid #FFD6B3;
    overflow: hidden;
}
.accordion-content:nth-child(2){
    background-color: #F0FAFF;
    border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
    background-color: #FFF0F3;
    border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
    background-color: #F0F0FF;
    border-color: #CCCCFF;
}
.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.accordion-content.open header{
    min-height: 35px;
}
.accordion-content header .title{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.accordion-content header i{
    font-size: 15px;
    color: #333;
}
.accordion-content .description{
    height: 0;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
}